<h3>Create a new employee</h2>

<form action="/employees" method="POST">
    <label>Name </label>
    <input type="text" name="name">
    <br>
    <label>Email </label>
    <input type="text" name="email">
    <br>
    <label>Phone </label>
    <input type="text" name="phone">
    <br>
    <br>
    <button type="submit">Create</button>
</form>