<div class="row">
  <aside class="col-sm-4">
    <div class="card mb-3">
      <article class="card-body shadow-sm">
        <h4 class="card-title text-muted mb-4 mt-1">
          Add employee &nbsp;<i
            class="fa fa-plus-circle text-primary"
            aria-hidden="true"
          ></i>
        </h4>
        <form action="/employees/new" method="POST">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input
                class="form-control"
                placeholder="Name"
                type="text"
                name="name"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-at"></i>
                </span>
              </div>
              <input
                class="form-control"
                placeholder="Email address"
                type="email"
                name="email"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <input
                class="form-control"
                placeholder="Phone number"
                type="text"
                name="phone"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-unlock"></i>
                </span>
              </div>
              <input
                class="form-control"
                placeholder="Password"
                type="text"
                name="password"
              />
            </div>
          </div>
          <button class="btn btn-primary btn-md btn-block" type="submit">
            Create
          </button>
        </form>
      </article>
    </div>
    <div class="alert alert-primary text-center" role="alert">
      Password will be the phone no.
    </div>
    <ul class="list-group mb-4">
      <li class="list-group-item bg-light">
        <a class="text-decoration-none font-weight-bold" href="/employees"
          >All employees</a
        >
      </li>
      <li class="list-group-item bg-light">
        <a
          class="text-decoration-none font-weight-bold"
          href="/employees/delete"
          >Delete employee</a
        >
      </li>
    </ul>
  </aside>
</div>
