<div class="row">
  <aside class="col-sm-4">
    <form action="/locations/edit" method="POST">
      <div class="input-group mb-4">
        <input
          class="form-control"
          type="text"
          name="location"
          value="<%= location.location %>"
          placeholder="Edit site"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">
            Edit location
          </button>
        </div>
        <input type="hidden" name="id" id="" value="<%= id %>" />
      </div>
    </form>
    <ul class="list-group mb-4">
      <li class="list-group-item bg-light">
        <a class="text-decoration-none font-weight-bold" href="/locations/new"
          >Add new location</a
        >
      </li>
      <li class="list-group-item bg-light">
        <a
          class="text-decoration-none font-weight-bold"
          href="/locations/delete"
          >Delete location</a
        >
      </li>
    </ul>
  </aside>
</div>
