<a href="/locations">All Locations</a>
<a href="/locations/new">Add location</a>

<h2>Saved locations</h2>

<form action="/locations" method="GET">
  <input
    type="text"
    name="location"
    placeholder="Search"
    value="<%= searchOptions.location %>"
  />
  <button type="submit">Search</button>
</form>

<form action="/locations/edit" method="GET">
  <div>
    <% for (const location of locations) { %>
    <br />
    <%= location.location %>
    <button type="submit" name="id" value="<%= location.id %>">edit</button>
    <% } %>
  </div>
</form>
