<a href="/locations">See all locations</a>
<br />
<br />

<form action="/locations" method="POST">
  <div>
    <label>Location</label>
    <input type="text" name="location" placeholder="Add new site" />
    <button type="submit">Save location</button>
  </div>
</form>
