<div class="row">
  <aside class="col-sm-4">
    <div class="mb-3 block">
      <a href="/locations">See all locations</a>
    </div>

    <form action="/locations" method="POST">
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          name="location"
          placeholder="Add new site"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">
            Save location
          </button>
        </div>
      </div>
    </form>
  </aside>
</div>
