<div class="row">
  <aside class="col-sm-4">
    <form action="/locations" method="POST">
      <div class="input-group mb-4">
        <input
          class="form-control"
          type="text"
          name="location"
          placeholder="Add new site"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">
            Save location
          </button>
        </div>
      </div>
    </form>
    <ul class="list-group mb-4">
      <li class="list-group-item bg-light">
        <a class="text-decoration-none font-weight-bold" href="/locations/"
          >See all locations</a
        >
      </li>
      <li class="list-group-item bg-light">
        <a
          class="text-decoration-none font-weight-bold"
          href="/locations/delete"
          >Delete location</a
        >
      </li>
    </ul>
  </aside>
</div>
