<div>
  <a href="/">Home</a>
  <a href="/employees">Employee</a>
  <a href="/locations/new">Add Locations</a>
  <a href="/employees/new">Add Employee</a>
  <a href="/employees/login">Login</a>
</div>
